* {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

p::selection {
  background-color: #e1e5eb;
  color: green;
}
body {
  margin: 0;
  background-color: #edeef0;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #507299;
  padding: 10px 15%;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  max-width: 800px;
  padding: 20px;
  margin: 50px auto;
}

.menu {
  margin-right: 10px;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #edeef0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #2e5473;
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
}
.menu a:hover {
  background-color: #e1e5eb;
}
.center {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts {
  background-color: white;
  border: 2px solid #d0d0d0;
  border-radius: 11px;
  margin-bottom: 20px;
  padding: 5px 15px;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}
.posts img {
  width: 100%;
  height: auto;
}

.right {
  flex-basis: 25%;
  padding: 0px 15px 15px 15px;
  align-self: flex-start;
  margin-left: 100px;
}
.right p {
  background: #d0d0d0;
}
.likescoms {
  display: flex;
  color: #2e5473;
  margin: 0;
  justify-content: space-between;
}
hr {
  background-color: #d0d0d0;
  height: 1px;
  margin: 5 0;
}
#footer {
  text-align: center;
  color: #2e5473;
  background-color: white;
  width: 100%;
  height: 25px;
}
#footer p {
  padding-top: 4px;
}
@media screen and (max-width: 1000px) {
  .right {
    display: none;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #edeef0;
  }

  .menu li {
    margin-bottom: 10px;
  }
  .center {
    padding: 0;
    align-items: center;
  }
}
